spring:
  application:
    name: supply-management-system

  datasource:
    url: jdbc:h2:mem:supplydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.example.supply.entity
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    com.example.supply: DEBUG
    org.mybatis: DEBUG
